<%= javascript_tag "current_page = 'setup';" %>

<% provide(:title, 'Setup') %>
<h1>Setup your quiz</h1>
<hr>

<div class="row">
  <div class="span4">
    <h3>Video Playlist</h3>
  </div>

  <div class="span8" id="searchBar">
    <h3>Youtube Search</h3>
    <form>
      <div class="input-append">
        <input type="text" id="searchInput" placeholder="Search..." class="span3">
        <input type="submit" id="videoSearchButton" class="btn" value="Search">
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="span4">
      <%= form_for(:quiz, url: quizzes_path, html: {id: 'videosForm'} ) do |f| %>

        <%= f.submit "Start the quiz!", class: "btn btn-large btn-primary" %>

      <% end %>
  </div>
  <div class="span8" id="searchResults">
    <ul></ul>
  </div>
</div>
    
<!-- <%= link_to "Start the Quiz!", quiz_path, class: "btn btn-large btn-primary" %>
-->


