<%= javascript_tag "current_page = 'quiz';" %>

<% provide(:title, 'Quiz') %>

<h1>Quiz Time!</h1>

<div id="videoContainer">
  <div id="ytplayer"></div>
</div>

<div id="quizModal" class="modal hide fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-body">
    <p id="questionText">Question goes here</p>
    <table id="quizAnswerTable">
      <tr>
        <td><span class="quizAnswerSpan"></span></td>
        <td><span class="quizAnswerSpan"></span></td>
      </tr>
      <tr>
        <td><span class="quizAnswerSpan"></span></td>
        <td><span class="quizAnswerSpan"></span></td>
      </tr>
    </table>
    <p id="quizResult"></p>
  </div>
</div>
