<div class="center hero-unit">
  <h1>Welcome to QuizVids!</h1>

  <h2>Watch, learn, study and review all at the same time!</h2>

  <%= link_to "Get started!", setup_path, class: "btn btn-large btn-primary" %><br />
  <%= link_to "Sign up!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%#= link_to image_tag("test.png", alt: "Angry Bird!"), 'http://stopdontpanic.com' %>