<%= javascript_tag "current_page = 'setup';" %>

<% provide(:title, 'Setup') %>
<div class="center hero-unit">
<h1>Setup your quiz</h1>
<p>Options go here</p>

<%= link_to "Start the Quiz!", quiz_path, class: "btn btn-large btn-primary" %>
</div>