// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#videosForm {
  margin-top: 20px;
}

#searchResults {
  height: 200px;
  ul {
    list-style: none;
    margin: 0px !important;

  }

  .videoTitle {
    font-size: x-small;
    color: darkblue;
  }

  li {
    display: inline-block;
    margin: 0px;
    cursor: pointer;
    float: left;
    text-align: center;
    background: linen;
    padding: 7px;
  }
}

#emptyPlaylist {
  display: block;
}

#playlist {
  height: 300px;
  overflow: scroll;
  background: linen;
  position: relative;
  top: -50px;
}

.input-append {
  padding-left: 20px;
}

.inline * {
  display: inline;
}

body .modal.fade.in {
  background-color: black;
  top: 70%;
  
  .modal-body {
    border: solid 1px linen;
    text-align: center;
    color: lightblue;
    
    #questionText {
      font-size: 2em;
    }

    table {
      width: 75%;
      margin: 1px auto;
      border-collapse: collapse;

      td {
        height: 40px;
        border: solid linen 1px;
        width: 50%;
        font-size: 1.5em;
      }
    }
  }
}

